@import url('d3-node-editor.css');
@import url('../../node_modules/d3-node-editor/build/d3-node-editor.css');

#EditorPage #nodeEditor{
   position: relative;
  height: 100%
}

#EditorPage .socket.number{
    background: #96b38a
}

#EditorPage .node-editor .node {
    background: rgba(0, 138, 170, 0.8);
    border: 2px solid #00a7cc;
}

#EditorPage .node-editor .node.selected {
    background: #66e3ff;
    border-color: #ccf6ff;
}

#EditorPage .node.selected .title,
#EditorPage .node.selected .output-title,
#EditorPage .node.selected .input-title{
  color: #005366;
}
