html, body{
   height: 100%;
   margin: 0;
   overflow: hidden;
}

#ApplicationWrapper {
  width: 100%;
  height: 100%;
}

body {
    background-color: #001d26;
    color: #2CD4FC;
}

.modal-content {
    border-color: rgba(44, 212, 252, 0.45);
    background-color: #001e27;
}
.modal-header {
    border-bottom: 1px solid #136579;
}
.modal-footer {
    border-top: 1px solid #136579;
}

.modal-content .form-control {
    color: #2bd2fa;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #136579;
}

.btn-secondary {
    background-color: #001e27;
    border-color: #2e6da4;
}
.btn-secondary:hover {
    background-color: #00394a;
    border-color: #2e6da4;
    color: #a7ebff;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 20px;
  background-color: #003541;
  color: #2CD4FC;
  width: 100%;
  font-size: 12px;
  font-family: monospace;
}

.titlebar .title {
  left: 5px;
  top: 3px;
  position: absolute;
}

.titlebar .button {
  -webkit-app-region: no-drag;
}
.titlebar .button#close {
    font-weight: bolder;
    position: absolute;
    right: 4px;
    top: 0;
    width: 20px;
    height: 20px;
    padding-left: 3px;
    font-size: 16px;
}
.titlebar .button#close:hover {
    background-color: #2CD4FC;
    color: #006982;
}
.titlebar .button#min {
    font-weight: bolder;
    position: absolute;
    right: 28px;
    top: 0px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    font-size: 12px;
}
.titlebar .button#min:hover {
    background-color: #2CD4FC;
    color: #006982;
}

/*@import url('mainWindow.css');
@import url('editor.css');*/
