
.titlebar {
}

.titlebar .buttons {
}

#mainWindow .header{
      margin-top: 15px;
    padding-left: 20px;
}

#mainWindow #NewFile {
    position: absolute;
    top: 19px;
    right: 105px;
    font-size: 29px;
}
#mainWindow #NewFile:hover {
  color: #008AAA;
}

#mainWindow #OpenFile {
    position: absolute;
    top: 19px;
    right: 60px;
    font-size: 29px;
}
#mainWindow #OpenFile:hover {
  color: #008AAA;
}

#mainWindow #Settings{
    position: absolute;
    top: 14px;
    right: 20px;
}

#mainWindow #Settings:hover {
  color: #008AAA;
}

.recentFiles-item:hover {
    background-color: #006982;
}

.recentFiles-head .name{
    color: #00c7f7;
}

.recentFiles-head:hover .name{
    color: #2CD4FC;
}

.recentFiles-head .filename {
    color: #008aaa;
    font-size: 0.75em;
}

.recentFiles-head .opened {
    font-style: italic;
    font-size: 0.8em;
    color: #04D0ff;
}

.recentFiles.col-sm-12 {
    padding: 0;
}
li.recentFiles-item.media {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: #003942 solid 1px;
    margin: 0;
}

li.recentFiles-item.media:last-child {
  border: none;
}
